<%= simple_nested_form_for @promotion, :html =>{:class => "form-horizontal"} do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :start_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.input :start_date, :as => "string", :input_html => {:class => "date datepicker"},  :label => false%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :end_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.input :end_date, :as => "string", :input_html => {:class => "date datepicker"}, :label => false%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sub_title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sub_title %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :subject, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :subject %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description %>
    </div>
  </div>
  <div class='line'></div>
  <br/>
  <div class="row businesses-promotions-section">
    <%= f.simple_fields_for :businesses_promotions, :input_html => {:class => "trucntt"} do |businesses_promotion| %>
      <br/>
      <div class="span6" data-object = "business-promotion-<%=businesses_promotion.object.id%>" >
        <h3> <%=businesses_promotion.object.business.name%> Details</h3>
        <div class='field businesses-select'>
          <%= businesses_promotion.input :business_id do %>
            <div class="control-group">
              <div class="controls" data-object-id = "<%=businesses_promotion.object.id%>" >
                <%=businesses_promotion.select :business_id, options_for_select(Business.all.collect{|b| [b.name,b.id]})%>
              </div>
            </div>
          <% end %>
        </div>
        <div class="field product-bundles-select">
          <%= businesses_promotion.input :product_bundle_id do %>
            <div class="control-group">
              <div class="controls" data-object-id = "<%=businesses_promotion.object.id%>">
                <%=businesses_promotion.select :product_bundle_id, options_for_select(businesses_promotion.object.business.product_bundles.collect{|b| [b.name,b.id]})%>
              </div>
            </div>
          <% end %>
        </div>
        <div class="control-group">
          <label class="control-label">Retail Price</label>
          <div class="controls">
            <span class="input-xlarge uneditable-input retail-price-value"><%= businesses_promotion.object.product_bundle.retail_price %></span>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">Discounted Price</label>
          <div class="controls">
            <span class="input-xlarge uneditable-input discounted-price-value"><%= businesses_promotion.object.product_bundle.discounted_price %></span>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class='line'></div>
  <div class="control-group">
    <%= f.label :redemption_detail, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :redemption_detail, :size => "20x10" %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', promotions_path, :class => 'btn' %>
  </div>


<% end %>
<script type='text/javascript'>
  $(function() {
    promotion.setup({"path" : '<%=product_bundles_path%>'});
    $('.datepicker').datepicker();
    <%@promotion.businesses_promotions.each do |bp|%>
      var currentObject = promotion.businessPromotionSection.find("div[data-object='business-promotion-" + "<%=bp.id%>" + "']");
      currentObject.find(".businesses-select").find("option[value='"+"<%=bp.business.id%>"+"']").attr("selected", "selected");
      currentObject.find(".product-bundles-select").find("option[value='"+"<%=bp.product_bundle.id%>"+"']").attr("selected", "selected");
    <%end%>
  });
  
</script>